.agenda-wrapper {
    .compere-wrapper {
        display: flex;
        @extend %orange-box;

        h3 {
            margin-left: 40px;
        }
    }

    .icon {
        height: 80px;
        width: auto;
    }

    .agenda-repeater-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .agenda-content-wrapper{
            width: 30%;

            .agenda-content {
                height: 170px;
                @extend %orange-box;
                margin-bottom: 0;

                h3 {
                    margin-bottom: 0;
                }
            }

            .speaker-details {
                padding-top: 30px;
            }
        }
    }
}