.agenda-wrapper {
    .compere-wrapper {
        display: flex;
        @extend %orange-box;

        h3 {
            margin-left: 40px;
        }
    }

    .icon {
        height: 80px;
        width: auto;
    }

    .agenda-repeater-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .agenda-content-wrapper{
            width: 31%;

            .agenda-content {
                @extend %orange-box;
                margin-bottom: 0;

                h3 {
                    margin-bottom: 0;
                }
            }

            .speaker-details {
                margin-top: 30px;
            }

            &:nth-of-type(4) {
                .agenda-content {
                    background-color: $lightblue;
                    .accordion {
                        background-color: $lightblue;
                        &:after {
                            visibility: hidden;
                        }
                    }
                }
            }

             &:nth-of-type(6) {
                .agenda-content {
                    background-color: $lightblue;
                    .accordion {
                        background-color: $lightblue;
                        &:after {
                            visibility: hidden;
                        }
                    }
                }
            }

            &:nth-of-type(8) {
                .agenda-content {
                    background-color: $lightblue;
                    .accordion {
                        background-color: $lightblue;
                        &:after {
                            visibility: hidden;
                        }
                    }
                }
            }

             &:nth-of-type(10) {
                .agenda-content {
                    .accordion {
                        &:after {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}