%reg {
    background-color: $blue;
    border-radius: 10px;
    padding: 15px 50px 15px;
    color: $white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .4s;

    &:hover {
        background-color: $orange;
    }
}

%orange-box {
    background-color: $lightorange;
    padding: 20px;
    margin: 25px 0;
}



