.icon-wrapper {
    margin: 30px 0;
    .reg-cta {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
    }

    .icon {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 200px;
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .event-map-desktop {
        display: none;
    }

     .event-map-mob {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    .event-map-desktop {
        display: none;
    }

     .event-map-mob {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
  .event-map-desktop {
        display: block;
    }

     .event-map-mob {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {
   .event-map-desktop {
        display: block;
    }

     .event-map-mob {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1201px)
and (max-width: 10000px) {
   .event-map-desktop {
        display: block;
    }

     .event-map-mob {
        display: none;
    }
}