
.accordion {
    border: none;
    cursor: pointer;
    transition: 0.4s;
    height: auto;
    transition: .2s;
    font-size: 18px;
    color: $grey;
    padding: 10px 0;
    font-family: azo-sans-web, sans-serif;
    background-color: $lightorange;
    width: 100%;
    text-align: left;

    &:after {
        content: '\002B';
    }
}

.accordion:hover {
    color: $blue;
}

.accordion:after {
    margin-left: 10px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    transition: max-height 1s ease-out;
    max-height: 0;
    overflow: hidden;
    background-color: $lightorange;
    padding: 0 10px;
}
