@import url("https://use.typekit.net/yjb8tes.css");

h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    color: $white;
    font-size: 36px;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    @media (min-width: $breakpoint-md) {
        font-size: 70px;
        line-height: 70px;
    }
}

h2 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    color: $white;
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 20px;
    margin: 0;
}

h3 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: $orange;
}

p {
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: $grey;
}

h1,h2,h3,h4,h5,h6{
    color:$orange;
}

/* Azo sans black
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
 */

/* Azo sans bold
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
 */

/* Azo sans regular
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
 */

/* Azo sans meduim 
    font-family: azo-sans-web, sans-serif;
    font-weight: 500;
    font-style: normal;
*/

