.section{
    padding:50px 0;
    &:first-of-type{
        margin-top:50px;
    }
    *{
        color:$grey;
    }

    .column{
        &.padding-top{
            padding-top:25px;
        }
        &.padding-bottom{
            padding-bottom:25px;
        }
    }
}